<template>
  <div id="app">
    <router-view/>
  </div>
</template>
<style>
@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
</style>
